@page
@model HeberConnect.Pages.Student.AnnouncementsModel
@{
    ViewData["Title"] = "Announcements";
}

<h2>Announcements</h2>

@if (Model.Announcements.Count == 0)
{
    <p>No announcements available.</p>
}
else
{
    <ul class="list-group">
        @foreach (var ann in Model.Announcements)
        {
            <li class="list-group-item">
                <strong>@ann.CreatedOn.ToString("g")</strong> - @ann.Message <br />
                <small>Posted by: @ann.CreatedBy</small>
            </li>
        }
    </ul>
}
