@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>HeberConnect - Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .navbar-dark .navbar-nav .nav-link,
        .navbar-dark .navbar-brand,
        .navbar-dark .navbar-nav .dropdown-item {
            color: #fff !important;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" asp-page="/">HeberConnect</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-2 bg-light vh-100 p-3">
                <h6>Admin Menu</h6>
                <ul class="nav flex-column">
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item"><a class="nav-link" asp-page="/Admin/Dashboard">Dashboard</a></li>
                    }
                </ul>
            </div>
            <div class="col-10 p-4">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
